@font-face {
  font-family: 'MS Sans Serif';
  src: url('../assets/fonts/MSSansSerif.woff2') format('woff2');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'MS Sans Serif';
  src: url('../assets/fonts/MSSansSerifBold.woff2') format('woff2');
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: 'Fixedsys';
  src: url('../assets/fonts/Fixedsys.woff2');
  font-display: fallback;
}

* {
  box-sizing: border-box;
  font-size: 12px;
  outline: none;
  font-family: 'MS Sans Serif';
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}

html *{
  cursor: url(../assets/cursors/cursor-default.png), default;
}

html.progress *{
  cursor: url(../assets/cursors/cursor-progress.png), progress;
}

html.wait *{
  cursor: url(../assets/cursors/cursor-wait.png), wait;
}

html.pointer * {
  cursor: url(../assets/cursors/cursor-pointer.png), pointer;
}

a {
  cursor: url(../assets/cursors/cursor-pointer.png), pointer;
}

div.Notepad {
  cursor: url(../assets/cursors/cursor-text.png), text;
  font-family: 'Fixedsys', monospace;
}

html, 
body, .App {
  margin: 0;
  overflow: hidden;
}

.App {
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  background-color: #008080;
}